# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, disable "USB for
# communication", and select USART3 for the "Serial Port".

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano.bin
# Copy the file out/Robin_nano.bin to an SD card and then restart the
# printer with that SD card.

# See the example.cfg file for a description of available parameters.

# Updated 7/7/2022 by ZombieHedgehog

########################################
# FILES
########################################
[include mainsail.cfg]
[include kp3s_macros.cfg]

[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

########################################
# STEPPERS
########################################
[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: ^!PA15
position_endstop: -7
position_min: -7
position_max: 170
homing_speed: 50
second_homing_speed: 5

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: ^!PA12
position_endstop: -5
position_min: -5
position_max: 170
homing_speed: 50
second_homing_speed: 5

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
rotation_distance: 8
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: !PA11
position_endstop: 0
position_min: -5
position_max: 180
homing_speed: 10
second_homing_speed: 5

########################################
# TOOLHEAD
########################################
[extruder]
max_extrude_only_distance: 999 # Disables extrusion limiations
max_extrude_cross_section: 999 # Disables extrusion limiations
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
rotation_distance: 8.018 # Calibrate per printer
full_steps_per_rotation: 200
microsteps: 32
max_extrude_only_distance: 150.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: Kingroon_Calibrated B3950
sensor_pin: PC1
control: pid
pid_Kp: 14.669
pid_Ki: 0.572
pid_Kd: 94.068
min_temp: 0
max_temp: 250
pressure_advance: 0.05 # Calibrate per printer

[thermistor Kingroon_Calibrated B3950]
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

[heater_fan my_nozzle_fan]
pin: PB0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

########################################
# CALIBRATION
########################################
[input_shaper]
shaper_freq_x: 33.5
shaper_freq_y: 42.1
shaper_type: mzv

[skew_correction] 
# Calibrate skew if needed

########################################
#  BED
########################################
[heater_bed]
heater_pin: PA0
sensor_type: Kingroon_Calibrated B3950
sensor_pin: PC0
#control: pid
#pid_Kp: 40.68
#pid_Ki: 7.93
#pid_Kd: 139.15
min_temp: 0
max_temp: 130

[bed_screws]
screw1: 20,20
screw2: 160,20
screw3: 160,160
screw4: 20,160

########################################
# PRINTER
########################################
[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 2000
max_z_velocity: 25
max_z_accel: 100

[static_digital_output display_reset]
pins: !PC6, !PD13

[fan]
pin: PB1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.477
#*# pid_ki = 1.262
#*# pid_kd = 849.569
